img {
  width: 100%; }

.text-center {
  text-align: center;
  align-content: center; }

.center {
  font-size: 2.4rem;
  text-align: center; }

.image_div {
  width: 50%;
  align-content: left;
  max-width: 400px;
  float: left;
  margin: 10px; }

.image_div2 {
  width: 50%;
  align-content: left;
  max-width: 400px;
  float: right;
  margin: 10px; }

.descript-text {
  text-align: center; }

.support-text {
  text-align: center; }

.btn-primary {
  margin-right: 10px; }

.center-image {
  text-align: center; }

.card {
  border: unset;
  opacity: .9;
  background-color: black; }

.background-image {
  background: url("./../Images/login-screen.jpg") no-repeat;
  background-size: cover; }

@media (max-width: 1171px) {
  .image_div {
    float: none;
    display: inline-block;
    align-content: center; }
  .image_div2 {
    display: none; }
  .descript-text {
    text-align: center; } }

@media (max-width: 490px) {
  .center {
    font-size: 1.6rem;
    text-align: center; }
  .image_div {
    width: 80%;
    align-content: center; } }
