.current_users {
  display: inline-block;
  font-size: 2rem;
  margin-right: 30px; }

.userprofile {
  width: 180px;
  height: 180px;
  border: solid 1px; }

.usershell {
  max-width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px; }

.profileselector {
  color: black; }

.profileselector:hover {
  color: #009B35; }

.viewrender {
  min-height: 83vh; }

@media (max-width: 400px) {
  .display_users {
    text-align: center; } }
