.current_users{
  display: inline-block;
  font-size: 2rem;
  margin-right: 30px;
}

.userprofile{
  min-width: 180px;
  min-height: 180px;
  max-width: 180px;
  max-height: 180px;
  border: solid 1px;
  margin: 10px;
}


.profilebutton{
  position:relative;
}

.modaltext{
  color: black;
}

.usershell{
  max-width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.profileselector {
  color: white;
}

.profileselector:hover {
  color: #009B35;
}

.viewrender{
  min-height: 100vh;
  position: relative;
  background: url('./../Images/user_background.png') repeat;
  color: white;
  }

.viewrender::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .8;
  background-color: black;
}

.usercontainer{
display: inline-block;
}

.singleUser{
  display:inline-block;
}

.singleUser:hover{
  color:green;
}
.searchbar_right{
  // justify-content: flex-end;
  // Display Right Side
}

.userimage{
  margin:10px;
  display: inline-block;
  width: 200px;
}

.username{
  text-align: center;
}

.messagebox{
  position: absolute;
  top: 20px;
  height: 200px;
  text-align: -webkit-auto;
}
.message{
  display: inline-block;
  width: 400px;
  height: 180px;
  position: relative;
  top: 0px;
  left:220px;

}

.sendmessage{
  position: relative;
  bottom: 10px;
  left: 240px;
}

.usersgames{
  text-align: center;
}

.usersgames>.mygameshell>.mygameselector{
color: black;
}



@media(max-width:576px){
  .searchbar_right{
// Drop to new line //
  }
}

@media(max-width:440px){
  .display_users{
    text-align: center;
  }
}
