.current_users{
  display: inline-block;
  font-size: 2rem;
  margin-right: 30px;
}

.userprofile{
  width: 180px;
  height: 180px;
  border: solid 1px;
}

.username{

}

.usershell{
  max-width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.profileselector {
  color: white;
}

.profileselector:hover {
  color: #009B35;
}

.viewrender{
  min-height: 83vh;
  position: relative;
  background: url('./../Images/user_background.png') no-repeat center/cover;
  color: white;
  }

.viewrender::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .9;
  background-color: black;
}



.searchbar_right{
  // justify-content: flex-end;
  // Display Right Side
}



@media(max-width:576px){
  .searchbar_right{
// Drop to new line //
  }
}

@media(max-width:400px){
  .display_users{
    text-align: center;
  }
}
