.shell {
  height: 100%; }

.search_menu {
  background-color: #282C35;
  min-height: 100vh;
  color: #ffff; }

.games_display {
  min-height: 100vh;
  height: 100%;
  text-align: center;
  position: relative;
  background: url("./../Images/user_background.png") repeat;
  color: white; }

.games_display::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .8;
  background-color: black; }

.games_shell {
  background-size: cover;
  height: 100%; }

.search {
  font-style: italic; }

.filter {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-style: italic; }

.searchbar {
  margin-top: 20px; }

.gameshell {
  width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  height: 250px;
  position: relative; }

.gameselector {
  color: white;
  display: block;
  height: 200px; }

.gamecover {
  width: 150px;
  height: 150px;
  border: solid 1px;
  margin-top: 5px; }

.addgametag:hover {
  color: #F6D400; }

.gamename {
  position: absolute;
  width: 100%;
  max-height: 51px;
  overflow: hidden;
  padding: 4px; }

.collectionbutton {
  color: white;
  border-color: white;
  margin-top: 10px; }

.collectionbutton:hover {
  color: yellow;
  background: green; }

.find_games {
  position: relative; }

@media (max-width: 1028px) {
  .submit_search {
    margin-top: 5px !important; } }

@media (max-width: 700px) {
  .search_menu {
    display: none; }
  .find_games {
    text-align: center; } }
