.shell {
  height: 100%;
  background-color: blue; }

.search_menu {
  background-color: #282C35;
  height: 100%;
  color: #ffff; }

.games_display {
  background-color: #989898;
  height: 100%; }

.games_shell {
  background-color: lightblue;
  background-size: cover;
  height: 100vh; }

.search {
  font-style: italic; }

.filter {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-style: italic; }

.searchbar {
  margin-top: 20px; }

.gameshell {
  max-width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px; }

.gameselector {
  color: black; }

.gameselector:hover {
  color: #009B35; }

.gamecover {
  width: 150px;
  height: 150px;
  border: solid 1px; }

@media (max-width: 1028px) {
  .submit_search {
    margin-top: 5px !important; } }

@media (max-width: 700px) {
  .search_menu {
    display: none; }
  .find_games {
    text-align: center; } }
