.shell {
  height: 100%;
  background-color: blue;
}

.search_menu {
  background-color: red;
  height: 100%;
}

.games_display {
  background-color: yellow;
  height: 100%;
}

.games_shell {
  background-color: lightblue;
  background-size: cover;
}
