.shell {
  height: 100%;
  background-color: #282C35;
}

.search_menu {
  background-color: #282C35;
  height: 100vh;
  color: #ffff;
  // position: sticky; Get this to follow the page
}

.games_display {
  background-color: #989898;
  min-height: 100vh;
  height: 100%;
  text-align: center;
}

.games_shell {
  background-color: lightblue;
  background-size: cover;
  height: 100%;
}

.search{
  font-style: italic;
}

.filter{
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-style: italic;
}

.searchbar{
  margin-top: 20px;
}

.gameshell{
  width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  height: 250px;
  position: relative;
  border: solid .3px;
}

.gameselector{
  color: white;
  display: block;
  height: 200px;
}

.gameselector:hover{
  color: #009B35;
}

.gamecover{
  width: 150px;
  height: 150px;
  border: solid 1px;
  margin-top: 5px;
}

.addgametag:hover {
  color:#F6D400;
}

.gamename{
  position: absolute;
  width: 100%;
  max-height: 51px;
  overflow: hidden;
  padding: 4px;
}

.collectionbutton {
  margin-top: 10px;
}

.collectionbutton:hover{
  color:yellow;
  background: green;
}

@media(max-width:1028px){
  .submit_search{
    margin-top:5px !important;
  }
}

@media(max-width:700px){
  .search_menu{
    display: none;
  }
  .find_games{
    text-align: center;
  }
}

// Align Games Centered
// @media(max-width:484px){
//   .games_shell{
//     text-align: center;
//   }
// }
