.form-row {
  margin-bottom: 1rem; }

.btn-primary {
  margin-right: 0px; }

.newuser {
  margin: 0 5px; }

.registershell {
  min-height: 85.7vh; }

@media (max-width: 786px) {
  .buttonshell {
    text-align: center; }
  .reg_form {
    text-align: center; } }
