.profile_picture {
  width: 180px;
  height: 180px;
  border: solid 1px;
  margin-top: 50px; }

.profileheight {
  min-height: 85.7vh;
  position: relative;
  background: url("./../Images/user_background.png") no-repeat center/cover;
  color: white; }

.profileheight::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .9;
  background-color: black; }

.media-body {
  margin-top: 50px;
  margin-left: 40px; }

.games_log {
  margin-top: 20px; }

.upload_btn {
  display: block;
  margin: 110px 5px 5px 5px; }

.bio_btn {
  display: block;
  margin: 5px 5px 5px 2px; }

.buttondiv {
  margin-left: 10px; }

.media {
  margin-left: 30px; }

.games_owned {
  font-size: 3rem;
  margin-bottom: 0px; }

.collection {
  text-align: center; }

.mygameshell {
  width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  height: 250px;
  position: relative;
  border: solid .3px; }

.mygameselector {
  color: white;
  display: block;
  height: 200px; }

.mygameselector:hover {
  color: #009B35; }

.mygamecover {
  width: 150px;
  height: 150px;
  border: solid 1px;
  margin-top: 5px; }

.myaddgametag:hover {
  color: #F6D400; }

.mygamename {
  position: absolute;
  width: 100%;
  max-height: 51px;
  overflow: hidden;
  padding: 4px; }

.mycollectionbutton {
  margin-top: 10px;
  background: white; }

.mycollectionbutton:hover {
  color: red; }

@media (max-width: 768px) {
  .bio-info {
    display: block; }
  .media {
    width: 100%;
    justify-content: center; }
  .media-body {
    margin-left: 0px; }
  .games_owned {
    text-align: center;
    font-size: 2.5rem; } }
