.profile_picture {
  width: 180px;
  height: 180px;
  border: solid 1px;
  margin-top: 50px; }

.photoupload {
  background-color: gray; }

.profileheight {
  min-height: 85.7vh;
  position: relative;
  background: url("./../Images/user_background.png") repeat;
  color: white; }

.profileheight::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .8;
  background-color: black; }

.media-body {
  margin-top: 50px;
  margin-left: 40px; }

.games_log {
  margin-top: 20px; }

.upload_btn {
  display: block;
  margin: 110px 5px 5px 5px;
  color: white;
  background: gray; }

.editdescription {
  color: white;
  background: gray; }

.bio-info > h5 {
  position: relative; }

.bio-info > p {
  position: relative; }

.bio-info {
  margin-right: 10px;
  padding: 10px;
  margin-left: 10px;
  position: relative;
  border-radius: 10px; }

.bio-info::before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: white;
  opacity: .2;
  border-radius: 10px; }

.bio_btn {
  display: block;
  margin: 5px 5px 5px 2px; }

.buttondiv {
  margin-left: 10px; }

.media {
  margin-left: 30px;
  position: relative; }

.games_owned {
  font-size: 3rem;
  margin-bottom: 0px; }

.collection {
  text-align: center; }

.mygameshell {
  width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  height: 250px;
  position: relative; }

.mygameselector {
  color: white;
  display: block;
  height: 200px; }

.mygamecover {
  width: 150px;
  height: 150px;
  border: solid 1px;
  margin-top: 5px; }

.myaddgametag:hover {
  color: #F6D400; }

.mygamename {
  position: absolute;
  width: 100%;
  max-height: 51px;
  overflow: hidden;
  padding: 4px; }

.mycollectionbutton {
  color: white;
  border-color: white;
  margin-top: 10px; }

.mycollectionbutton:hover {
  color: white;
  background: red; }

.myaddgamesbutton {
  color: white;
  background: green; }

.myaddgamesbutton:hover {
  color: green;
  background: lightgreen; }

@media (max-width: 768px) {
  .bio-info {
    display: block; }
  .media {
    width: 100%;
    justify-content: center; }
  .games_owned {
    text-align: center;
    font-size: 2.5rem; }
  .myaddgamesbutton {
    text-align: center; } }
